{% extends 'base.html' %}

{% load static %} 

{% block content %} 

<br>
<div class="row">
    <div class="col-md-6">
        <div class="card  card-body">
            
<p>Estás segurx de querer borarr el siguiente turno: "{{turno}}"?</p>

<form action="{% url 'borrar_turno' turno.id %}" method="POST">
     {% csrf_token %}
    <a class="btn btn-warning" href="{% url 'listado_turnos' %}">Cancel</a>

    <input class="btn btn-danger" type="submit" name="Confirmar">

</form>
        </div>
    </div>
</div>

{% endblock %}